{% extends 'base.html' %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel  " style="width: 30%;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for lproduct in lproducts %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{lproduct.image.url}}" class="d-block w-100" alt="...">
      </div>
      {% endfor %}
    </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>



<h1>Latest Product</h1>
<div class="row mt-2">
{% for product in lproducts %}
<div class="col-md-4">
<div class="card" style="width:20rem;">
    <img src="{{product.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">{{product.price}}</p>
        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to cart</a>
        
    </div>
</div>
</div>
{% endfor %}
</div>




<h1>ALL Product</h1>
<div class="row mt-5">
{% for product in products %}
<div class="col-md-4">
<div class="card" style="width:20rem;">
    <img src="{{product.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">{{product.price}}</p>
        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to cart</a>
      
    </div>
</div>
</div>
{% endfor %}
</div>



</div>
{% endblock %}